@{
    ViewBag.Title = "Video Searcher";
}

<div class="row">
    <div class="col-md-12">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" id="search" class="form-control input-lg" placeholder="Movie Title..." />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div id="videoResults" class="shadow">
</div>
<!-- Modal -->
<div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="iframeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <iframe src="" style="width: 100%;height: 480px" frameborder="0" allowfullscreen="allowfullscreen"  allowtransparency="true"></iframe>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>
